# ==========================================
# Campus Flow API - Modelo de Variáveis de Ambiente
# ==========================================

# Configurações do Banco de Dados PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/campusflow_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# Porta do Servidor Spring Boot
PORT=8080
